body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Lato", sans-serif;
}

.img1 {
    background-image: url(Images/pedestrians.jpg);
    height: 100%;
}

.img2 {
    background-image: url(Images/hong-kong.jpg);
    height: 500px;
}

.img3 {
    background-image: url(Images/buildings.jpg);
    height: 500px;
}

.img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.title {
    letter-spacing: 8px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 50%;
    font-size: 25px;
}

.img1-title {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

section {
    text-align: center;
    padding: 30px 60px;
}

.trans {
    color: #fff;
}

.light {
    background-color: #f4f4f4;
    color: #666;
}

.dark {
    background-color: #282e34;
    color: #ddd;
}

@media(max-width:568px) {
    .img {
        background-attachment: scroll;
    }
}